<% remote_form_for :wiki_publisher_setting, @wiki_publisher_setting,
                   :url => { :controller => 'wiki_publisher_settings', :action => 'update', :project_id => @project },
                   :builder => TabularFormBuilder,
                   :lang => current_language do |f| %>

<%= error_messages_for 'wiki_publisher_setting' %>

<div class="box tabular">
<p><%= f.text_field :design_repository_url, :size => 60, :required => true %><br />
<em><%= l(:text_unallowed_characters) %>: , . ? ; : |</em></p>
</div>

<%= submit_tag(l(:button_save)) %>
<% end %>
